$primary-color: #583F64;
body {
    overflow-x: hidden;
}
.row{
  max-width: 100%;
}
.wrapper{
  padding: 20px 0 0 0;

}
#hamburger{
  top: 0px;
  left: 0px;
}
.menuicon{
  width: 65px;
  height: 10px;
  margin: 3px 0 3px 0;
  background-color: $primary-color;
}
nav{
  display: inline;
  position: fixed;
  top: 0;
  width: 100vw;
}
#top-search{
  border-color: $primary-color;
  border-radius: 20px;
  border-width: 3px;

}
.logo{
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar{
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.navigation {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}
.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
    position: fixed;
    top: 25px;
    left: 15px;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url("../images/twhamburger.png");
    background-size: contain;
}
.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}
a{
  color: $primary-color;
}
