$primary-color: #583F64;

.row{
  max-width: 100%;
}
.wrapper{
  padding: 20px 0 0 0;

}
#hamburger{
  top: 0px;
  left: 0px;
}
.menuicon{
  width: 65px;
  height: 10px;
  margin: 3px 0 3px 0;
  background-color: $primary-color;
}
nav{
  display: inline;
  position: fixed;
  top: 0;
  width: 100vw;
}
#top-search{
  border-color: $primary-color;
  border-radius: 20px;
  border-width: 3px;

}
.logo{
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar{
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
