{% extends "base.html" %}
{% block content %}
<div class="mainwrap">
<div class="row sign-up-alert">
  <div class="small-12 columns text-center">
    <p><a href="#" class="sign-up-btn">Sign Up</a> for a custom dashboard&nbsp&nbsp<a href="#" id="close-sign-up-alert">&otimes;</a></p>
  </div>
</div>
<section class="popular-section">
<div class="row">
  <div class="small-12 columns">
    <h3>Popular</h3>
  </div>
</div>
<div class="popular">
  <a href="#"><img title="title" src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>

</div>
</section>
<section class="recent-section">
<div class="row">
  <div class="small-12 columns">
    <h3>Recently Submitted</h3>
  </div>
</div>
<div class="recent">
  <a href="#"><img title="title" src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>
  <a href="#"> <img src="http://placehold.it/200x200"></a>

</div>
</section>
<section class="tags">
  <div class="row">
    <div class="small-12 columns text-center">
      <h3>Search By Tags</h3>
      <p>Tap the slider next to the tags you want included </p>
      <p>Tapping mutiple tags will give you results that only pertain to ALL the tags selected</p>
    </div>
  </div>
  <div class="row search-by-tag">
    <div class="small-6 columns text-left">
      <h4>Asexual</h4>
    </div>
    <div class="small-6 columns text-right">
    <label><input type="checkbox" class="ios-switch bigswitch" /><div><div></div></div></label>
  </div>
</div>

<div class="row search-by-tag">
  <div class="small-6 columns text-left">
    <h4>Bisexual</h4>
  </div>
  <div class="small-6 columns text-right">
  <label><input type="checkbox" class="ios-switch bigswitch" /><div><div></div></div></label>
</div>
</div>

<div class="row search-by-tag">
  <div class="small-6 columns text-left">
    <h4>Gay</h4>
  </div>
  <div class="small-6 columns text-right">
  <label><input type="checkbox" class="ios-switch bigswitch" /><div><div></div></div></label>
</div>
</div>

<div class="row search-by-tag">
  <div class="small-6 columns text-left">
    <h4>Lesbian</h4>
  </div>
  <div class="small-6 columns text-right">
  <label><input type="checkbox" class="ios-switch bigswitch" /><div><div></div></div></label>
</div>
</div>

<div class="row search-by-tag">
  <div class="small-6 columns text-left">
    <h4>Pansexual</h4>
  </div>
  <div class="small-6 columns text-right">
  <label><input type="checkbox" class="ios-switch bigswitch"  /><div><div></div></div></label>
</div>
</div>
</section>
</div>
{% endblock content%}
