{% extends "base.html" %}
{% block content %}
<div class="mainwrap">
<div class="row">
  <div class="small-12 columns">
    <h3>Popular</h3>
  </div>
</div>
<div class="popular">
  <a href="#"><img src="http://placehold.it/200x200"></a>
  <a href="#"><img src="http://placehold.it/200x200"></a>
  <a href="#"><img src="http://placehold.it/200x200"></a>
  <a href="#"><img src="http://placehold.it/200x200"></a>
  <a href="#"><img src="http://placehold.it/200x200"></a>

</div>
</div>
{% endblock content%}
